<div class="boxContainer">
  <div style="left: 0px; right: 0px; top: 55px; bottom: 0px; position:absolute; z-index: 1;">
    <ng-include src="'views/map.html'"></ng-include>
  </div>

  <div style="right: 10px; width: 500px; height: 90%; top: 60px; position:absolute; z-index: 2;">
    <md-content class="md-padding" style="width: 100%; height: 100%; padding: 0px">
      <md-tabs class="md-accent" md-selected="dataForSlideNavbar.selectedIndex" 
        md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}" 
        style="height: 100%; width: 100%; ">
        <md-tab id="tab1" md-on-deselect="onFl()">
          <md-tab-label>SDリスト</md-tab-label>
          <md-tab-body>
            <ng-include src="'views/tab1.html'"></ng-include>
          </md-tab-body>
        </md-tab>
        <md-tab id="tab2" md-on-select="onFl()" md-on-deselect="offFl()">
          <md-tab-label>配送状況詳細</md-tab-label>
          <md-tab-body>
            <ng-include src="'views/tab2.html'"></ng-include>
          </md-tab-body>
        </md-tab>
        <md-tab id="tab3" md-on-deselect="resetMarkers()">
          <md-tab-label>予想配達経路</md-tab-label>
          <md-tab-body>
            <div id="directions-panel"></div>
          </md-tab-body>
        </md-tab>        
      </md-tabs>
    </md-content>
  </div>

</div>