  <ng-map zoom="15" center="35.620515, 139.646976" map-type-id="TERRAIN" style="width: 100%; height: 100%;">
  <!--     <shape name="polyline" 
        path="[
          [35.620515, 139.646976],
          [35.619416, 139.642845],
          [35.620205, 139.641440]
        ]"
        geodesic="true"
        stroke-color="#FF0000"
        stroke-opacity="1.0"
        stroke-weight="2">
      </shape> -->

        <marker id='{{d.id}}' position="{{d.position}}"
          ng-repeat="d in destinations"
          on-click="showDetail(d)">
        </marker>
  <!--       <marker id='aa' position="[35.620515, 139.646976]"
            on-click="showDetail(destination)">
        </marker> -->

        <info-window id="foo-iw">
          <div ng-non-bindable="">
            <div>
              <img src="images/yeoman.png" alt="I'm Yeoman"><br>
            </div>
            <div>
              id: {{destination.id}}<br/>
              name: {{destination.name}}<br/>
              Position 1: {{destination.position}}<br/>
              Position 2: {{anchor.getPosition()}}<br/>
              Position 3: {{map.markers[destination.id].getPosition()}}<br/>]
              {{destinations}}
              <a href="#" ng-click="clicked()">Click Here</a>
          </div>
        </info-window>
    </ng-map>