

  <ng-map 
    zoom={{defaultZoom}} 
    center="{{centerAxis.x}}, {{centerAxis.y}}" 
    map-type-id="TERRAIN" 
    style="width: 100%; height: 100%;">

<!--         <marker id='{{d.id}}' position="{{d.position}}"
          ng-repeat="d in finishedDestinations"
          on-click="showDetail(d)">
        </marker> -->

<!--         <marker id='{{d.id}}' position="{{d.position}}"
          ng-repeat="d in remainingDestinations"
          on-click="showDetail(d)">
        </marker> -->

        <marker id='{{d.id}}' position="{{d.position}}"
          ng-repeat="d in finishedDestinations"
          on-click="showDetail(d)"
          icon="{
            url:'images/finishedMarker.gif',
            scaledSize:[50,50],
            origin: [0,0],
            anchor: [0,0]
          }"></marker>

        <marker id='{{d.id}}' position="{{d.position}}"
          ng-repeat="d in remainingDestinations"
          on-click="showDetail(d)"
          icon="{
            url:'images/remainingMarker.gif',
            scaledSize:[50,50],
            origin: [0,0],
            anchor: [10,10] 
          }"></marker>

  <!--       <marker id='aa' position="[35.620515, 139.646976]"
            on-click="showDetail(destination)">
        </marker> -->

<!--         <directions
          draggable="true"
          panel="directions-panel"
          travel-mode="DRIVING"
          origin="1135 Karamea-Kohaihai Rd, Kahurangi National Park, Tasman"
          destination="Pier St, Jackson Bay, West Coast, New Zeland">
        </directions> -->

        <!-- Ref: https://ngmap.github.io/#/!directions.html -->
        <directions 
          draggable="true"
          panel="directions-panel"
          travel-mode="DRIVING" 
          waypoints="{{wayPoints}}"
          origin="{{origin}}"
          destination="{{destination}}"
          optimizeWaypoints="true">
        </directions>
<!--         <custom-marker id="start"
          position="{{origin}}">
          <div> Start point </div>
        </custom-marker>
        <custom-marker id="end"
          position="{{destination}}">
          <div> Ends point </div>
        </custom-marker> -->



        <info-window id="foo-iw">
          <div ng-non-bindable="">
            <div>
              <img src="images/yeoman.png" alt="I'm Yeoman"><br>
            </div>
            <div>
              id: {{destination.id}}<br/>
              name: {{destination.name}}<br/>
              Position 1: {{destination.position}}<br/>
              Position 2: {{anchor.getPosition()}}<br/>
              Position 3: {{map.markers[destination.id].getPosition()}}<br/>]
              {{destinations}}
              <a href="#" ng-click="clicked()">Click Here</a>
          </div>
        </info-window>
    </ng-map>